
.flex-container {
    display: flex;
    justify-content: space-around;
    height: .1vh; 
    flex-wrap: wrap;
    margin: 10px;
}
h1 {
    text-align: center;
    font-weight: bold;
    
}

h3 {
    font-weight: bolder;
    font-size: x-large;
}
.tankProtocol {
    width: 230px;
    float: right;
    background-color: aquamarine;
    font-style: normal;
    font-weight: bolder;
    
}

.fishList {
 width: 50%;
   text-align: center;
    background-color: rgb(93, 236, 86);
    text-decoration-color: rgb(5, 77, 3);
    
    
}
.quotes {
    background-color: aquamarine;
    font-style: normal;
    font-weight: bolder;
}
.harvestLoc {
    background-color: aquamarine;
    font-style: normal;
    font-weight: bolder;
   
}
body {
background-color: cyan;
font-style: initial;

}



img {
    width: 75%;
    height: auto;
    justify-content: space-evenly;
}