
.flex-container {
    display: flex;
    justify-content: space-between;
    height: 80vh; 
}


.list {
    width: 60vw;
    
}

.tankProtocol {
    width: 20vw;
    float: right;
    
}

.fish {
    width: 80px;
    height: auto;
    border: 1px solid green;
    background-color: rgb(86, 198, 236);
    
}

.harvestLoc {
    justify-content: flex-end;
}
body {
background-color: lightblue;
}




img {
    width: 30%;
    height: auto;
    justify-content: space-evenly;
}